{% block stylesheets %}<link href="{{ asset('css/answer.css')}}" rel="stylesheet">{% endblock %}
{% extends "base.html.twig" %}
{% block title %}Answers Page {% endblock %}
{% block nav %}
 <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
 <img class="profile" src="{{ asset( '/profileUrl/' ~ app.user.profileUrl ) }}" />


{% endblock %}


{% block body %}
<div class="container3">
<a href="/index.php/home"><div class="backBtn"><i class="fas fa-chevron-left" style="margin-left:7px;"></i></div></a>
<h1 class="back">Back to landing page</h1>

</div>
<div class="container2">
<div class="userP">
<div class="votes"style=" background-color:#484855;"></div>
<img class="postprofile1" src="{{ asset( '/profileUrl/' ~ questions.userId.profileUrl   ) }}" />
  <h1 class="username">{{ questions.userId.name}}</h1>  
</div>

<div class="question">
 <h1 class="questionText">{{ questions.questionText}}</h1>
 </div>
<div class="questionImg">
<img class="Image" src="{{ asset( '/questionUrl/' ~ questions.questionImg  ) }} " style='object-fit: contain' />

 </div>
<i class="fas fa-comment"> <strong style="color:#F5B82E;">{{ questions.comments|length }}</strong></i>

 <div class="postComment">
 <div class="line"></div>
 <div class="postCom">
 <img class="postprofile2" src="{{ asset( '/profileUrl/' ~ questions.userId.profileUrl   ) }}" />
 {{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
{{form_widget(form.comments, { 'attr': {'class': 'form-control dropdown', 'placeholder': 'Post a comment','value':'', 'style': 'margin: 10px; float:left; width:60%; background-color:#484855; color:#ffffff; height:6vh;resize: none; border:none; font-size:20px' } }) }}
 {{form_widget(form.userId, { 'attr': {'class': 'form-control', 'placeholder': 'userid', 'style': 'margin: 10px; display: none', 'value' : app.user.id } }) }}
{{form_widget(form.questionId, { 'attr': {'class': 'form-control', 'placeholder': 'userid', 'style': 'margin: 10px; display: none', 'value' : questions.id } }) }}
<input name="comment[userId]" id="comment_userId" value={{app.user.id}} style="display:none;">
<input name="comment[questionId]" id="comment_questionId" value={{questions.id}} style="display:none;">


<button class="btn" >{{ button_label|default('POST') }}</button> 
 {{form_end(form)}}
 </div>
 <div class="line"></div>


 
 </div>
 {% for answer in questions.comments %} 

{% if answer.answer   %}
<style>

#a1{
  color:#00D100;
}

</style>

    {% endif %}



 <div class="comment">
   <div class="contain">
     <img class="postprofile3" src="{{ asset( '/profileUrl/' ~ answer.userId.profileUrl  ) }}" />
     <i id="a{{answer.answer}}" class="fas fa-check check" data-id="{{answer.id}}"></i>
      </div>
        <h1 class="names">{{ answer.userId.name}}</h1>
  <h1 class="commenttext">{{ answer.comments}}</h1> 
  <div class="vote">
<i class="fas fa-arrow-up like"  data-id="{{answer.id}}" data-user="{{answer.userId.id}}"></i>
<h1 class="upvote">{{ answer.upvotes }} </h1>
<i class="fas fa-arrow-down dislike" data-id="{{answer.id}}"  data-user="{{answer.userId.id}}" >  </i>
<h1 class="downvote"> {{  answer.downvotes}}</h1>
   {% if app.user.access == 1 %}
<a href="{{ path('delanswers', {'id': answer.id}) }}"><i class="fas fa-trash-alt"onclick="return confirm('Are you sure you want to delete this user with id: {{answer.id}}');" style="margin-left:5px; color:#ffffff;" > </i></a>
    {% endif %}
 </div>
 </div>
  <div class="line"></div>
   {% endfor %}
</div>



{% endblock %}



{% block javascripts %}

<script>

$(document).ready(function(){



    $(".dislike").on("click", function(event){
         
         var currentCount = parseInt($(this).next().html()); 
          $(this).css("pointer-events", "none");
         $(this).css("color", "#D3D3D3");
        var answerId = $(this).data("id");
             var UserId = $(this).data("user");   
         $.ajax({
          url: '/index.php/answers',
            type: 'POST',
           data: {id:answerId, type: "downvote",userId:UserId},
            dataType: 'text',
            async: true,

           success: function(data, status){
               console.log(data);
          //  parseInt(document.getElementById("downvote").innerHTML = data);

            },
            error: function(xhr, textStatus, errorThrown){
                console.log("error" + error);
           }
        });
        $(this).next().html(currentCount + 1); 
      
        console.log(currentCount);
            console.log(answerId);
        console.log(UserId);

    });


  $(".like").on("click", function(event){
         
         var currentCount = parseInt($(this).next().html()); 
          $(this).css("pointer-events", "none");
         $(this).css("color", "#D3D3D3");
        var answerId = $(this).data("id");
          var UserId = $(this).data("user");  
         $.ajax({
          url: '/index.php/answers',
            type: 'POST',
           data: {id:answerId, type: "upvote",userId:UserId},
            dataType: 'text',
            async: true,

           success: function(data, status){
               console.log(data);
          //  parseInt(document.getElementById("downvote").innerHTML = data);

            },
            error: function(xhr, textStatus, errorThrown){
                console.log("error" + error);
           }
        });
        $(this).next().html(currentCount + 1); 
      
        console.log(currentCount);
        console.log(answerId);
        console.log(UserId);

    });



 $(".check").on("click", function(event){
         
          $(this).css("pointer-events", "none");
          $(this).css("color", "#00D100");
        var checkId = $(this).data("id");
           
         $.ajax({
          url: '/index.php/answers',
            type: 'POST',
           data: {id:checkId, type: "check"},
            dataType: 'text',
            async: true,

           success: function(data, status){
               console.log(data);
          //  parseInt(document.getElementById("downvote").innerHTML = data);

            },
            error: function(xhr, textStatus, errorThrown){
                console.log("error" + error);
           }
        });
     

        console.log(checkId);

    });


});





</script>




{% endblock %}





