{% block stylesheets %}<link href="{{ asset('css/histo.css')}}" rel="stylesheet">{% endblock %}
{% block javascripts %}<script src="{{ asset('js/particles.js')}}"></script>{% endblock %}
{% extends "base.html.twig" %}
{% block title %}History Page {% endblock %}
{% block nav %}
 <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
 <img class="profile" src="{{ asset( '/profileUrl/' ~ app.user.profileUrl ) }}" />


{% endblock %}

{% block body %}
<div class="container3">
<a href="/index.php/admin"><div class="backBtn"><i class="fas fa-chevron-left" style="margin-left:7px;"></i></div></a>
<h1 class="back">Back to admin page</h1>
</div>
<div class="container2">
<img class="profilehistory" src="{{ asset( '/profileUrl/' ~ history.profileUrl   ) }}" />
<h1 style="color:#ffffff; font-size:30px; margin-top:27px;">{{history.name}}</h1>
</div>
 {% for history in history.comments %} 
<div class="container4">
<i class="fas fa-comment" style="font-size:22px; color:#F5B82E;margin-top:13px; margin-left:40px; float:left;"></i>
<h1 class="text1">{{history.questionId.questionText}}</h1>
<div class="line"></div>
<h1 class="text2">{{history.comments}}</h1>


</div>
   {% endfor %}


{% endblock %}







