{% block stylesheets %}<link href="{{ asset('css/homepages.css')}}" rel="stylesheet">{% endblock %}

{% extends "base.html.twig" %}
{% block title %}Home Page {% endblock %}
{% block nav %}

 <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
     {% if app.user.access == 1 %}
           <a href="{{ path('admin') }}"><div class="admin">Admin Only</div></a>
    {% endif %}
 <a href="{{ path('edit', {'id': app.user.id}) }}"><img class="profile" src="{{ asset( '/profileUrl/' ~ app.user.profileUrl ) }}" /></a>


{% endblock %}

{% block body %}

<div class="container2">
<div class="select_container  col-10 col-md-8">
<div  class="item Competition">Competition</div>
<div  class="item Simulation">Simulation Game</div>
<div  class="item Retrogaming">Retrogaming</div>
<div  class="item Virtual">Virtual Reality</div>
</div>
</div>

<h1 class="recent" >Recent Posts</h1>
<div class="container3">
<div class="posts col-10 col-md-8">
{% for question in questions %} 
<div class="post" value="{{ question.category }}">


<img class="postprofile" src="{{ asset( '/profileUrl/' ~ question.userId.profileUrl   ) }}" />
<div class="contain">
<a href="{{ path('answers', {'id': question.id}) }}"><h1 class="username">{{ question.questionText }} </h1></a>
<h1 class="question"> {{ question.userId.name}}</h1>
</div>
<div class="votes">
<i class="fas fa-arrow-up like"  data-id="{{question.id}}"  data-user="{{question.userId.id}}" ></i>
<h1  id="upvote" class="upvote">{{ question.upvotes }} </h1>
<i class="fas fa-arrow-down dislike" data-id="{{question.id}}"  data-user="{{question.userId.id}}" >  </i>
<h1 id="downvote" class="downvote" > {{ question.downvotes }}   </h1>
<i class="fas fa-comment"></i>
<h1 class="comment"> {{ question.comments|length }}</h1>
   {% if app.user.access == 1 %}
<a href="{{ path('delquestion', {'id': question.id}) }}"><i class="fas fa-trash-alt"onclick="return confirm('Are you sure you want to delete this user with id: {{question.id}}');" > </i></a>
    {% endif %}
</div>
</div>
 {% endfor %}
</div>

</div>
<a href="/index.php/question"><button type="submit" class="btn ">Ask a Question?</button> </a>

{% endblock %}


{% block javascripts %}

<script>

$(document).ready(function(){

    
 $(".Competition ").on("click", function(){
    $('.post[value="' + "Competition " + '"]').show();
    $('.post[value="' + "Simulation Game" + '"]').hide();
    $('.post[value="' + "Retrogaming" + '"]').hide();
     $('.post[value="' + "Virtual Reality" + '"]').hide();


     $(".Competition").css("background-color", "#F5B82E");
     $(".Simulation").css("background-color", "#FB3640");
     $(".Retrogaming").css("background-color", "#FB3640");
     $(".Virtual").css("background-color", "#FB3640");

    $(".Competition").css("color", "#000");
     $(".Simulation").css("color", "#FFFFFF");
     $(".Retrogaming").css("color", "#FFFFFF");
     $(".Virtual").css("color", "#FFFFFF");

 });

 $(".Simulation ").on("click", function(){
    $('.post[value="' + "Competition " + '"]').hide();
    $('.post[value="' + "Simulation Game" + '"]').show();
    $('.post[value="' + "Retrogaming" + '"]').hide();
     $('.post[value="' + "Virtual Reality" + '"]').hide();



    $(".Competition").css("background-color", "#FB3640");
     $(".Simulation").css("background-color", "#F5B82E");
     $(".Retrogaming").css("background-color", "#FB3640");
     $(".Virtual").css("background-color", "#FB3640");

    $(".Competition").css("color", "#FFFFFF");
     $(".Simulation").css("color", "#000");
     $(".Retrogaming").css("color", "#FFFFFF");
     $(".Virtual").css("color", "#FFFFFF");

 });

  $(".Retrogaming").on("click", function(){
    $('.post[value="' + "Competition " + '"]').hide();
    $('.post[value="' + "Simulation Game" + '"]').hide();
    $('.post[value="' + "Retrogaming" + '"]').show();
     $('.post[value="' + "Virtual Reality" + '"]').hide();


    $(".Competition").css("background-color", "#FB3640");
     $(".Simulation").css("background-color", "#FB3640");
     $(".Retrogaming").css("background-color", "#F5B82E");
     $(".Virtual").css("background-color", "#FB3640");

    $(".Competition").css("color", "#FFFFFF");
     $(".Simulation").css("color", "#FFFFFF");
     $(".Retrogaming").css("color", "#000");
     $(".Virtual").css("color", "#FFFFFF");



 });

  $(".Virtual").on("click", function(){
    $('.post[value="' + "Competition " + '"]').hide();
    $('.post[value="' + "Simulation Game" + '"]').hide();
    $('.post[value="' + "Retrogaming" + '"]').hide();
     $('.post[value="' + "Virtual Reality" + '"]').show();

    $(".Competition").css("background-color", "#FB3640");
     $(".Simulation").css("background-color", "#FB3640");
     $(".Retrogaming").css("background-color", "#FB3640");
     $(".Virtual").css("background-color", "#F5B82E");

    $(".Competition").css("color", "#FFFFFF");
     $(".Simulation").css("color", "#FFFFFF");
     $(".Retrogaming").css("color", "#FFFFFF");
     $(".Virtual").css("color", "#000");


 });



    $(".dislike").on("click", function(event){
         
         var currentCount = parseInt($(this).next().html()); 
        //  $(this).css("pointer-events", "none");
          $(this).css("color", "#D3D3D3");
        var questionId = $(this).data("id");
        var UserId = $(this).data("user");

            
         $.ajax({
            url: '/home',
            type: 'POST',
           data: {id:questionId,type:"downvote",userId:UserId},
            dataType: 'text',
            async: true,

           success: function(data, status){
               console.log(data);
          //  parseInt(document.getElementById("downvote").innerHTML = data);

            },
            error: function(xhr, textStatus, errorThrown){
                console.log("error" + error);
           }
        });
        $(this).next().html(currentCount + 1); 
      
        console.log(currentCount);
        console.log("question" + questionId);
        console.log(UserId);

    });


    $(".like").on("click", function(event){
         
         var currentCount = parseInt($(this).next().html()); 
         $(this).css("pointer-events", "none");
          $(this).css("color", "#D3D3D3");
        var LikeId = $(this).data("id");
        var UserId = $(this).data("user");  
        $.ajax({
          url: '/home',
           type: 'POST',
          data: {id:LikeId,type:"upvote",userId:UserId},
         dataType: 'text',
        async: true,

           success: function(data, status){
               console.log(data);
         //   parseInt(document.getElementById("downvote").innerHTML = data);

           },
            error: function(xhr, textStatus, errorThrown){
               console.log("error" + error);
           }
        });
        
        $(this).next().html(currentCount + 1); 
      
        console.log(currentCount);
        console.log(LikeId);
console.log(UserId);
    });


});





</script>






{% endblock %}






