{% block stylesheets %}<link href="{{ asset('css/profile.css')}}" rel="stylesheet">{% endblock %}
{% block javascripts %}<script src="{{ asset('js/particles.js')}}"></script>{% endblock %}
{% extends "base.html.twig" %}
{% block title %}Signup Page {% endblock %}
{% block nav %}
 <a href="/"><i class="fas fa-sign-out-alt fa-2x"></i></a>
 <img class="profile" src="{{ asset( '/profileUrl/' ~ app.user.profileUrl ) }}" />


{% endblock %}
{% block body %}
<div id="particles-js">
<div class="login ">
                        <div class="user_info">{{user.name}}<br></br> {{user.surname}}<br></br> {{user.email}}</div>

         <div class="profile_preview">
        <img id="preview_image" src="{{ asset('images/profile_placeholder.jpeg')}}">

        </div>

        <div class='file_reg'>
        <input style="display: none;" id="u_profile" type="file" name="profileImage" onchange="previewFile(this);">
        <label class='choose' for="u_profile"><i class="fas fa-pen"></i></label>

        </div>




<form action="{{ path('index') }}" method="post"  class="row d-flex justify-content-center" >

    <div class="form-group  col-8" style="margin-top: 50px">
      <label class="sr-only" for="inlineFormInputGroupUsername">Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text border-0 bg-white "><i class="fas fa-user"></i></div>
        </div>
        <input type="text" class="form-control border-0 "  name="name"   id="inlineFormInputGroupUsername" placeholder="Name">
      </div>
    </div>
                 <div class="line col-8"></div>
                     <div class="form-group  col-8" style="margin-top: 20px">
      <label class="sr-only" for="inlineFormInputGroupUsername">Surname</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text border-0 bg-white "><i class="fas fa-user"></i></div>
        </div>
        <input type="text" class="form-control border-0 "  id="inlineFormInputGroupUsername" placeholder="Surname">
      </div>
    </div>
                 <div class="line col-8"></div>
    <div class="form-group  col-8" style="margin-top: 20px">
      <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text border-0 bg-white "><i class="fas fa-envelope"></i></div>
        </div>
        <input type="text" class="form-control border-0 " id="inlineFormInputGroupUsername" placeholder="Email">
      </div>
    </div>
                 <div class="line col-8"></div>
     <div class="form-group  col-8" style="margin-top: 20px">
      <label class="sr-only" for="inlineFormInputGroupUsername">Password</label>
      <div class="input-group  ">
        <div class="input-group-prepend">
          <div class="input-group-text border-0 bg-white"><i class="fas fa-unlock"></i></div>
        </div>
        <input type="text" class="form-control border-0 " id="inlineFormInputGroupUsername" placeholder="Password">
      </div>
    </div>
             <div class="line col-8"></div>



  <button type="submit" class="btn update ">Update</button> 
  

  

    
 


</form>
<div class="group">
<button type="submit" class="btn cancel ">Cancel</button>
</div>
</div>
</div>

    <script>
        function previewFile(input){
            var file = $("input[type=file]").get(0).files[0];
            if(file){
                var reader = new FileReader();
                reader.onload = function(){
                    $("#preview_image").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }
    </script>


{% endblock %}







